.grid-height {
  height: 100vh;
}

.grid-width {
  width: 100vw;
}

.grid-list {
  width: 100%;
  height: 100%;
}

@media (min-width: 40rem) {
  .grid-height {
    height: 500px;
  }

  .grid-width {
    width: 100vw;
  }
}
