.footer {
  width: 100%;
  padding: 1rem;
  background-color: #202020;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  font-size: small;

  border-top: 0.0425rem solid rgba(55, 56, 57, 0.25);
}

.bottom_margin {
  margin-bottom: 2rem;
}
.section {
  width: 80%;
  margin: 2rem 0;
}
@media (min-width: 46rem) {
  .footer {
    flex-flow: row;
    justify-content: space-evenly;
    align-items: start;
  }

  .section {
    width: auto;
  }
}
